Scaling of Variables

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/arijitbose/Feature_engineering/main/Travel.csv')
data

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [3]:
data.drop('CustomerID', axis=1, inplace=True)

In [4]:
category = [feature for feature in data.columns if data[feature].dtype!='O']
category

['ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [5]:
data[category]

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [6]:
for feature in data[category]:
    mean = data[feature].mean()
    data[feature] = data[feature].fillna(mean)

In [7]:
data.isnull().sum()

ProdTaken                    0
Age                          0
TypeofContact               25
CityTier                     0
DurationOfPitch              0
Occupation                   0
Gender                       0
NumberOfPersonVisiting       0
NumberOfFollowups            0
ProductPitched               0
PreferredPropertyStar        0
MaritalStatus                0
NumberOfTrips                0
Passport                     0
PitchSatisfactionScore       0
OwnCar                       0
NumberOfChildrenVisiting     0
Designation                  0
MonthlyIncome                0
dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

In [9]:
std = StandardScaler()

In [10]:
pd.DataFrame(std.fit_transform(data[category]), columns=['ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome'])

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,2.076787,3.712822e-01,1.468369,-1.143871,0.130966,-0.710021,-0.730127,-1.227404,1.561221,-0.789477,0.782392,-1.393568,-0.500322
1,-0.481513,1.250646e+00,-0.713871,-0.179681,0.130966,0.292203,0.526467,-0.678603,-0.640524,-0.057226,0.782392,0.953955,-0.664693
2,2.076787,-6.839967e-02,-0.713871,-0.902823,0.130966,0.292203,-0.730127,2.065400,1.561221,-0.057226,-1.278132,-1.393568,-1.243704
3,-0.481513,-5.080815e-01,-0.713871,-0.782299,-1.248694,-0.710021,-0.730127,-0.678603,1.561221,1.407276,0.782392,-0.219807,-1.087714
4,-0.481513,-7.810318e-16,-0.713871,-0.902823,-1.248694,-0.710021,0.526467,-1.227404,-0.640524,1.407276,0.782392,-1.393568,-0.981245
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,2.076787,1.250646e+00,1.468369,-0.782299,0.130966,1.294428,0.526467,-0.678603,1.561221,-1.521728,0.782392,-0.219807,0.563041
4884,2.076787,-1.057684e+00,-0.713871,1.869222,1.510626,1.294428,-0.730127,-0.129803,1.561221,-0.057226,0.782392,0.953955,-0.458610
4885,2.076787,1.580407e+00,1.468369,0.181890,1.510626,0.292203,0.526467,2.065400,-0.640524,-1.521728,0.782392,2.127717,1.561836
4886,2.076787,-2.046968e+00,1.468369,0.061367,0.130966,0.292203,-0.730127,-0.129803,-0.640524,1.407276,-1.278132,0.953955,-0.634409
4887,2.076787,-1.783201e-01,-0.713871,-0.179681,1.510626,0.292203,0.526467,-0.129803,1.561221,-0.057226,0.782392,0.953955,0.080213

In [11]:
robust = RobustScaler()

In [12]:
data = pd.read_csv('https://raw.githubusercontent.com/arijitbose/Feature_engineering/main/Travel.csv')
data

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [13]:
categorical_variables = [feature for feature in data.columns if data[feature].dtype!='O']
categorical_variables

['CustomerID',
 'ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [14]:
data[categorical_variables]

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [15]:
dt = data[categorical_variables].copy()

In [16]:
pd.DataFrame(robust.fit_transform(dt), columns=['CustomerID',
 'ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome'])

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,-1.000000,1.0,0.384615,1.0,-0.636364,0.0,-1.0,0.0,-1.0,1.0,-0.5,0.0,-1.0,-0.259139
1,-0.999591,0.0,1.000000,0.0,0.090909,0.0,0.0,1.0,-0.5,0.0,0.0,0.0,1.0,-0.424306
2,-0.999182,1.0,0.076923,0.0,-0.454545,0.0,0.0,0.0,2.0,1.0,0.0,-1.0,-1.0,-1.006124
3,-0.998772,0.0,-0.230769,0.0,-0.363636,-1.0,-1.0,0.0,-0.5,1.0,1.0,0.0,0.0,-0.849378
4,-0.998363,0.0,NaN,0.0,-0.454545,-1.0,-1.0,1.0,-1.0,0.0,1.0,0.0,-1.0,-0.742392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,0.998363,1.0,1.000000,1.0,-0.363636,0.0,1.0,1.0,-0.5,1.0,-1.0,0.0,0.0,0.809378
4884,0.998772,1.0,-0.615385,0.0,1.636364,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-0.217225
4885,0.999182,1.0,1.230769,1.0,0.363636,1.0,0.0,1.0,2.0,0.0,-1.0,0.0,2.0,1.813014
4886,0.999591,1.0,-1.307692,1.0,0.272727,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,1.0,-0.393876
4887,1.000000,1.0,0.000000,0.0,0.090909,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.324211

In [17]:
dd = data[categorical_variables].copy()

In [18]:
min_max = MinMaxScaler()
min_max

MinMaxScaler()

In [19]:
pd.DataFrame(min_max.fit_transform(dd), columns=['CustomerID',
 'ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome'])

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,0.000000,1.0,0.534884,1.0,0.008197,0.50,0.4,0.0,0.000000,1.0,0.25,1.0,0.000000,0.204683
1,0.000205,0.0,0.720930,0.0,0.073770,0.50,0.6,0.5,0.047619,0.0,0.50,1.0,0.666667,0.195848
2,0.000409,1.0,0.441860,0.0,0.024590,0.50,0.6,0.0,0.285714,1.0,0.50,0.0,0.000000,0.164725
3,0.000614,0.0,0.348837,0.0,0.032787,0.25,0.4,0.0,0.047619,1.0,1.00,1.0,0.333333,0.173110
4,0.000818,0.0,NaN,0.0,0.024590,0.25,0.4,0.5,0.000000,0.0,1.00,1.0,0.000000,0.178832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,0.999182,1.0,0.720930,1.0,0.032787,0.50,0.8,0.5,0.047619,1.0,0.00,1.0,0.333333,0.261840
4884,0.999386,1.0,0.232558,0.0,0.213115,0.75,0.8,0.0,0.095238,1.0,0.50,1.0,0.666667,0.206925
4885,0.999591,1.0,0.790698,1.0,0.098361,0.75,0.6,0.5,0.285714,0.0,0.00,1.0,1.000000,0.315527
4886,0.999795,1.0,0.023256,1.0,0.090164,0.50,0.6,0.0,0.095238,0.0,1.00,0.0,0.666667,0.197475
4887,1.000000,1.0,0.418605,0.0,0.073770,0.75,0.6,0.5,0.095238,1.0,0.50,1.0,0.666667,0.235887

In [20]:
from sklearn.preprocessing import Normalizer

In [21]:
norm  = Normalizer(norm='l1')
norm

Normalizer(norm='l1')

In [22]:
dp = data[categorical_variables].copy()
dp

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [23]:
for feature in dp.columns:
    mean = dp[feature].mean()
    dp[feature] = dp[feature].fillna(mean)

In [24]:
dp.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
CityTier                    0
DurationOfPitch             0
NumberOfPersonVisiting      0
NumberOfFollowups           0
PreferredPropertyStar       0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
MonthlyIncome               0
dtype: int64

In [25]:
pd.DataFrame(norm.fit_transform(dp), columns=['CustomerID', 'ProdTaken', 'Age', 'CityTier', 'DurationOfPitch',
       'NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'MonthlyIncome'])

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,0.904740,0.000005,0.000185,0.000014,0.000027,0.000014,0.000014,0.000014,0.000005,0.000005,0.000009,0.000005,0.000000,0.094966
1,0.908212,0.000000,0.000223,0.000005,0.000064,0.000014,0.000018,0.000018,0.000009,0.000000,0.000014,0.000005,0.000009,0.091411
2,0.920989,0.000005,0.000170,0.000005,0.000037,0.000014,0.000018,0.000014,0.000032,0.000005,0.000014,0.000000,0.000000,0.078698
3,0.917559,0.000000,0.000151,0.000005,0.000041,0.000009,0.000014,0.000014,0.000009,0.000005,0.000023,0.000005,0.000005,0.082162
4,0.915205,0.000000,0.000172,0.000005,0.000037,0.000009,0.000014,0.000018,0.000005,0.000000,0.000023,0.000005,0.000000,0.084508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,0.884875,0.000004,0.000212,0.000013,0.000039,0.000013,0.000022,0.000017,0.000009,0.000004,0.000004,0.000004,0.000004,0.114780
4884,0.905849,0.000004,0.000124,0.000004,0.000137,0.000018,0.000022,0.000013,0.000013,0.000004,0.000013,0.000004,0.000009,0.093784
4885,0.865217,0.000004,0.000220,0.000013,0.000072,0.000017,0.000017,0.000017,0.000030,0.000000,0.000004,0.000004,0.000013,0.134374
4886,0.909658,0.000004,0.000084,0.000013,0.000071,0.000013,0.000018,0.000013,0.000013,0.000000,0.000022,0.000000,0.000009,0.090080
4887,0.894695,0.000004,0.000157,0.000004,0.000061,0.000017,0.000017,0.000017,0.000013,0.000004,0.000013,0.000004,0.000009,0.104982

In [26]:
from sklearn.preprocessing import MaxAbsScaler

In [27]:
max_ab = MaxAbsScaler()
max_ab

MaxAbsScaler()

In [28]:
ds = data[categorical_variables].copy()
ds

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [29]:
for feature in ds.columns:
    mean = ds[feature].mean()
    ds[feature] = ds[feature].fillna(mean)

In [30]:
ds.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
CityTier                    0
DurationOfPitch             0
NumberOfPersonVisiting      0
NumberOfFollowups           0
PreferredPropertyStar       0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
MonthlyIncome               0
dtype: int64

In [31]:
pd.DataFrame(max_ab.fit_transform(ds), columns=['CustomerID',
 'ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting',
 'MonthlyIncome'])

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,0.976148,1.0,0.672131,1.000000,0.047244,0.6,0.500000,0.6,0.045455,1.0,0.4,1.0,0.000000,0.212742
1,0.976153,0.0,0.803279,0.333333,0.110236,0.6,0.666667,0.8,0.090909,0.0,0.6,1.0,0.666667,0.203997
2,0.976158,1.0,0.606557,0.333333,0.062992,0.6,0.666667,0.6,0.318182,1.0,0.6,0.0,0.000000,0.173190
3,0.976162,0.0,0.540984,0.333333,0.070866,0.4,0.500000,0.6,0.090909,1.0,1.0,1.0,0.333333,0.181489
4,0.976167,0.0,0.616758,0.333333,0.062992,0.4,0.500000,0.8,0.045455,0.0,1.0,1.0,0.000000,0.187154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,0.999980,1.0,0.803279,1.000000,0.070866,0.6,0.833333,0.8,0.090909,1.0,0.2,1.0,0.333333,0.269320
4884,0.999985,1.0,0.459016,0.333333,0.244094,0.8,0.833333,0.6,0.136364,1.0,0.6,1.0,0.666667,0.214962
4885,0.999990,1.0,0.852459,1.000000,0.133858,0.8,0.666667,0.8,0.318182,0.0,0.2,1.0,1.000000,0.322463
4886,0.999995,1.0,0.311475,1.000000,0.125984,0.6,0.666667,0.6,0.136364,0.0,1.0,0.0,0.666667,0.205608
4887,1.000000,1.0,0.590164,0.333333,0.110236,0.8,0.666667,0.8,0.136364,1.0,0.6,1.0,0.666667,0.243631